body {
    padding-top: 56px;
  }

a:hover {
    color: #ff8000;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 2rem;
}

.card-img-top{
    width: 100%;
    max-width: 29rem;
    height: 15rem;
}

.card-footer span{
    color: #f0c040;
}