body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  padding-top: 15vh;
  position: absolute;
}

a:hover {
  color: #ff8000;
}

.navbar-brand {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

.card-img-top {
  width: 100%;
  max-width: 29rem;
  height: 15rem;
}

.card-footer {
  background-color: white;
  border-top: none;
}

.card-footer span {
  color: #f0c040;
}

.itemDetailsList {
  list-style: none;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

.outOfStock {
  color: red;
}

.inStock {
  color: green;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: blue;
  background-color: white;
}

.alert-danger {
  color: red;
  background-color: pink;
}

/* .loading {
  margin-top: 50vh;
  margin-bottom: 40vh;
}

.alert {
  margin-top: 30vh;
  margin-bottom: 40vh;
} */

@media only screen and (max-width: 700px) {
  .mainPageContainer {
    margin-top: 25vw;
  }

  .loading {
    margin-top: 70%;
    margin-bottom: 70%;
    /* prvents the loading spinner to move around */
    display: block !important;
  }
}

.shoppingCartBadge {
  background-color: green;
  color: white;
  padding: 0.2rem 0.7rem;
}

/* shopping cart page styles */
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }

  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }

  .actions .btn-info {
    float: left;
  }

  .actions .btn-danger {
    float: right;
  }

  table#cart thead {
    display: none;
  }

  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }

  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }

  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }



  table#cart tfoot td {
    display: block;
  }

  table#cart tfoot td .btn {
    display: block;
  }

}

/* sign in page styles */
.container {
  height: 100%;
  align-content: center;
}

.sign-in-card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
  color: white;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: black;
}

.links a {
  margin-left: 4px;
}

/* checkout wizard style */
.bs-wizard {
  margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.bs-wizard>.bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

.bs-wizard>.bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.bs-wizard>.bs-wizard-step>.progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa;
}

.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
  width: 100%;
}

.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
  width: 50%;
}

.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
  width: 0%;
}

.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
  width: 100%;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
  background-color: #f5f5f5;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard>.bs-wizard-step:first-child>.progress {
  left: 50%;
  width: 50%;
}

.bs-wizard>.bs-wizard-step:last-child>.progress {
  width: 50%;
}

.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/* place order page styles */
.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark{
	background-color: #f6f6f6;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}
