body {
  padding-top: 56px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

a:hover {
  color: #ff8000;
}

.navbar-brand{
  font-family: 'Sansita Swashed', cursive;
  font-size: 2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

.card-img-top{
  width: 100%;
  max-width: 29rem;
  height: 15rem;
}

.card-footer{
  background-color: white;
  border-top: none;
}

.card-footer span{
  color: #f0c040;
}

.itemDetailsList {
  list-style: none;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

.outOfStock{
  color: red;
}

.inStock{
  color: green;
}


